* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-weight: normal;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.contact-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.contact-us {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

/* TOP HEADING */
.top-heading {
    font-weight: 100;
    margin-left: 10%;
    margin-right: 40%;
    line-height: 78px;
    font-size: 52px;
    margin-bottom: 10%;
}

span {
    font-weight: bold;
}

/* MAIN IMAGE */
.bg-img {
    position: relative;
    height: 857px;
    max-width: 100%;
    margin-left: 8%;
    background-image: url('images/main_img.png');
    background-repeat: no-repeat;
}

.play-button {
    background: rgba(115, 124, 132, 0.04);
    backdrop-filter: blur(56px);
    border-radius: 50%;
    position: absolute;
    left: 44%;
    top: 32%;
}

/* MAIN CONTENT */
.main-content {
    display: flex;
    /* gap: 20px; */
    justify-content: center;
    align-items: center;
    /* margin: 0 100px; */
    margin-bottom: 90px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.main-text {
    /* width: 50%; */
    padding-right: 100px;
    /* padding-left: 100px; */
}

.main-dropdown {
    /* display: flex;
    flex-direction: column; */
    /* padding-left: 100px; */
    list-style: none;
    line-height: 2.8;
}

.heading-bold {
    font-weight: 600;
}

.dropdown-flex {
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.down-arrow {
    padding-top: 20px;
    width: 5%
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    padding: 0 150px;
    row-gap: 100px;
    margin-bottom: 7%;
}

.animated-img:hover {
    transform: translateY(-0.2rem);
}


.grid-sif {
    padding-top: 23%;
}

.grid-text {
    font-weight: 600;
    font-size: 24px;
}

/* 'SEE ALL PROJECT' TEXT */
.product-text {
    margin-bottom: 5%;
}

.product-line {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 400 ;
    text-decoration: underline;
}

/* MAP SECTION */
.client-container {
    background-image: url(images/map.png);
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    background-position: right;
    margin-bottom: 30px;
}

.client-text {
    padding-top: 200px;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 50px;
    padding-left: 15%;
}

.client-logos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

/* 'VIEW CLIENTS' TEXT */
.client-line {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    visibility: visible;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 400 ;
    text-decoration: underline;
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  position: relative;
  margin-bottom: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-headline {
    font-size: 52px;
    font-weight: 400;
    padding-left: 145px;
    padding-right: 200px;
    margin-bottom: 30px;
}

.testimonial-heading {
    font-size: 24px;
    margin-bottom: 5%;
}

.company-logo {
    margin-bottom: 20px;
}

.double-quote {
    position: absolute;
    left: 50px;  
    top: -75px;
    z-index: -1;
}

.testimonial-container {
    display: flex;
    gap: 100px;
    padding: 20px 150px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.testimonials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial-text {
    color: rgb(82, 82, 82);
    margin-bottom: 5%;
}

.testimonial-name {
    font-weight: bold;
}

.testimonial-img {
    border-radius: 50%;
}

.testimonial-designation {
    color: rgb(105, 104, 104);
    font-size: 12px;
}

/* ARROW MARK */
.arrow-mark {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 150px;
}

/* BLOGS */
.blogs {
    width: 72%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.blogs-stories {
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 30px;
}

.see-more {
    padding-top: 5%;
    display: block;
    text-align: center;
    color: #000;
}
.blog-flex {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.design-text-margin {
    margin-bottom: 80px;
}

h3 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 25px;
}

.design-date {
    color: gray;
    margin-bottom: 30px;
}

.blog-content {
    color: rgb(63, 63, 63);
    font-size: 20px;
    padding-right: 100px;
}



/* PICTURE GRID */
.picture-container {
    display: flex;
    margin-right: 1.5%;
    gap: 0.5%;
    margin-bottom: 20px;
}

.first-grid-pic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.instagram {
    transform: rotate(90deg);
    text-align: center;
    padding-top: 45%;
}

.grid-bottom-img {
    align-self: end;
}

/* FOOTER */
.footer-logo {
    background: transparent;
    padding-top: 20px;
    margin-bottom: 130px;
}

form {
    display:flex;
    flex-direction:row;
    border: 5px red;
}

footer {
    background-color: rgb(36, 35, 35);
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 30px;
    column-gap: 150px;
    row-gap: 30px;
}

.footer-link {
    font-size: 18px;
    color: white;    
}

.need-help {
    color: white;
    font-weight: 400;
    font-size: 50px;
}

.lets-talk {
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.search {
    width: 350px;
}

.search-bar {
    /* margin-top: 30px; */
    border-radius: 30px;
    width: 100%;
    height: 47px;
    padding: 10px;
    font-weight: 400;
    font-size: 18px;    
}

.submit-arrow {
    border:1px solid rgb(111, 13, 156);
    border-radius: 50%;
    background: rgb(111, 13, 156);
    color:white;
    margin-left: -46px;
    height: 45px;
    width: 45px;
    margin-top: 0.2%;
}

.copyright {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

hr {
    border: 1px solid rgba(170, 164, 164, 0.288);
    margin-bottom: 15px;
}

.copyright-text {
    font-size: 17px;
    color: rgba(170, 164, 164, 0.288);
    font-weight: normal;
}

.copyright-span {
    font-weight: normal;
    color: rgb(230, 227, 227);
}